{% extends "/frontoffice/base.html.twig" %}

{% block title %}Tous les posts{% endblock %}

{% block content %}
<div class="container">
    {% set index = filter['order'] %}
    {% set index2 = filter['counterOrder'] %}

    <div class="text-center">
        <h4 class="mb-5"><strong>Les Posts</strong></h4>
        <form method="post" action="/posts" class="mb-4">
            <select class="form-select" name="order">
                <option value="{{index}}">{{filter[index]}}</option>
                <option value="{{index2}}">{{filter[index2]}}</option>
            </select>
            <button class="btn btn-dark text-white mt-4" type="submit">Rechercher</button>
        </form>
        <hr>
        {% if posts %}

        <div class="row">
            {% for post in posts %}
            <div class="col-lg-4 col-sm-11 mb-4">
                <div class="card">
                    {% if post.file_attached is empty %}
                    <div></div>
                    {% else %}
                    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                        <img src="data:image/jpeg;base64,{{post.file_attached}}" alt="decopicture" class="img-fluid"
                            width="30%" />
                    </div>
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ post.title }}</h5>
                        <div class="mb-1 text-muted">
                            <p>Modifié dernièrement le {{ post.last_update | date("d/m/Y") }} par {{post.pseudo}}</p>
                        </div>
                        <p class="card-text">
                            {{ post.stand_first}}
                        </p>
                        <a href="/post-{{ post.id}}" class="btn btn-dark">Lire le post</a>
                    </div>
                </div>
            </div>

            {% endfor %}
        </div>
        <nav class="my-4" aria-label="...">
            <ul class="pagination pagination-circle justify-content-center">
                {% if (page > 0) %}
                <li class="page-item"><form method="post" action="/posts/{{page-1}}">
                    <input hidden value="{{index}}" name="order" />
                    <button class="btn btn-dark text-white mt-4" type="submit">Précédent</button>
                  </form>
                </li>
                {% endif %}
                {% if posts|length == 3 and end is same as(false) %}
                <li class="page-item">
                    <form method="post" action="/posts/{{ page+1}}">
                        <input hidden value="{{index}}" name="order" />
                        <button class="btn btn-dark text-white mt-4" type="submit">Suivant</button>
                      </form>
                </li>
                {% endif %}
            </ul>
        </nav>
        {% else %}
        <h3 class="mb-4">Il y a actuellement aucun poste</h3>
        <img class=" center mb-4" src="https://cdn.pixabay.com/photo/2017/07/28/23/18/coming-soon-2550190_1280.jpg"
            alt="deco picture no post at the moment" width="70%">
        {% endif %}
    </div>
</div>
{% endblock %}