{% extends "/backoffice/baseBackOff.html.twig" %}

{% set header = 'Création d\'un nouveau post' %}
{% if post %}
{% set header = 'Modification d\'un post' %}
{% endif %}

{% block title %} {{header}} {% endblock %}

{% block content %}

<div class="container">
  <div class="mb-3">
    <a href="/admin/posts" class="linkStandard">Retourner à la liste des posts</a>
  </div>

  <h2 class="mb-4">{{header}}</h2>
  <p class="text-warning bg-dark mb-4">Attention! une fois créé, le post sera automatiquement publié.<br>
    A part l'image qui est optionnelle, tous les champs sont obligatoires </p>

  <form action="{{url}}" method="POST" enctype="multipart/form-data" id="postForm">
    <input type="hidden" value="{{tokencsrf}}" name="tokencsrf" />
    <div class="form-group text-dark bg-light h5 mb-4">
      <label for="title">Titre du post</label>
      <input type="text" class="form-control" id="title" name="title" value="{{post.title | default('')}}" />
    </div>
    <div class="form-group my-3 text-dark bg-light h5 mb-4">
      <label for="stand_first">Chapo</label>
      <textarea class="form-control" id="stand_first" name="stand_first" rows="5">{{post.stand_first | default('')}}</textarea>
  </div>  
    <div id="usersToSearch" data-users="{{ usersToSearch|json_encode }}"></div>
    <div class="form-group mb-4">
      <p class="text-dark bg-light h5">Chercher l'auteur par son pseudo:</p>
      <label for="usersToComplete">Auteur</label>
      {% if post%}
      <input id="usersToComplete" class="ui-autocomplete-input" autocomplete="off" name="usersToComplete"
        value="{{post.pseudo}}, {{post.email}}" />
      {% else %}
      <input id="usersToComplete" class="ui-autocomplete-input" autocomplete="off" name="usersToComplete" />
      {% endif%}
    </div>
    <div class="form-group mb-4">
      <label for="image" class="text-dark bg-light h5">Charger une image</label>
      <input type="file" class="form-control-file" name="file_attached" id="image">
    </div>
    <div class="form-group text-dark bg-light h5 mb-4">
      <label for="text">Contenu</label>
      <textarea class="form-control" id="text" name="text" rows="15">{{post.text | default('')}}</textarea>
    </div>
    {% set button = 'Créer' %}
    {% if post %}
    {% set button = 'Modifier' %}
    {% endif %}
    <div class="text-center mt-4">
      <button type="submit" class="btn btn-dark btn-block mb-4">{{button}}</button>
    </div>
  </form>
</div>


{% endblock %}