{% extends "/backoffice/baseBackOff.html.twig" %}

{% block title %}List des commentaires{% endblock %}

{% block content %}
<div class="container">
  {% set index = filter['order'] %}
  {% set index2 = filter['counterOrder'] %}

  <h2 class="text-center">liste des commentaires</h2>
  <p>Les commentaires sont actuellement classés du plus récent au plus ancien:</p>
  <form method="post" action="/admin/comments" class="mb-4">
    <select class="form-select" name="order">
      <option value="{{index}}">{{filter[index]}}</option>
      <option value="{{index2}}">{{filter[index2]}}</option>
    </select>
    <button class="btn btn-dark text-white mt-4" type="submit">Rechercher</button>
  </form>
  <hr>
  {% if comments %}
  {% for comment in comments %}

  <div class="container mt-5">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info fs-5">
        <p class="mb-1 text-muted">Commentaire crée le {{comment.created_date | date("d/m/Y")}} - par {{comment.pseudo
          }}
          {% if comment.created_date is not same as(comment.last_update) %}
          - dernière
          mise à jour le:
          {{comment.last_update | date("d/m/Y H:i")}}
          {% endif%}
        </p>
        <p>{{comment.text}}</p>

        {% if comment.status is same as("created") %}
        <form method="POST" action="/comment-{{comment.id}}/validate">
          <input type="hidden" value="{{tokencsrf}}" name="tokencsrf" />
          <input hidden type="text" id="text" class="form-control" name="text" class="form-control validate"
            value="{{comment.text}}" />
          <button class="btn btn-dark text-white me-2" type="submit">valider</button>
        </form>

        {% endif %}
        <form method="POST" action="/comment-{{comment.id}}/delete" class="mt-2">
          <input type="hidden" value="{{tokencsrf}}" name="tokencsrf" />
          <input hidden type="text" id="textsupp" class="form-control" name="text" class="form-control validate"
            value="{{comment.text}}" />
          <button class="btn btn-secondary text-white" type="submit">supprimer</button>
        </form>

      </li>
    </ul>
  </div>

  {% endfor %}

  <nav class="my-4">
    <ul class="pagination pagination-circle justify-content-center">
      {% if (page > 0) %}
      <li class="page-item me-3">
        <form method="post" action="/admin/comments/{{ page-1}}">
          <input hidden value="{{index}}" name="order" />
          <button class="btn btn-dark text-white mt-4" type="submit">Précédent</button>
        </form>
      </li>
      {%endif%}
      {% if comments|length == 3 and end is same as(false) %}
      <li class="page-item">
        <form method="post" action="/admin/comments/{{page+1}}">
          <input hidden value="{{index}}" name="order" />
          <button class="btn btn-dark text-white mt-4" type="submit">Suivant</button>
        </form>
      </li>
      {% endif %}
    </ul>
  </nav>
</div>
{% else %}
<p class="fs-3 text-center mt-4">Aucun commentaire n'a été créé pour l'instant</p>
<img class="center mb-4" src="https://cdn.pixabay.com/photo/2017/07/28/23/18/coming-soon-2550190_1280.jpg"
  alt="deco picture maybe a new post soon" width="70%">
{% endif %}
{% endblock %}