{% extends "/backoffice/baseBackOff.html.twig" %}

{% block title %}List des membres{% endblock %}

{% block content %}
<div class="container">
  {% set index = filter['order'] %}
  {% set index2 = filter['counterOrder'] %}

  <h2 class="text-center">liste des membres</h2>
  <p>Les membres sont actuellement classés du plus récent au plus ancien:</p>
  <form method="post" action="/admin/members" class="mb-4">
    <select class="form-select" name="order">
      <option value="{{index}}">{{filter[index]}}</option>
      <option value="{{index2}}">{{filter[index2]}}</option>
    </select>
    <button class="btn btn-dark text-white mt-4" type="submit">Rechercher</button>
  </form>
  <hr>
  {% if members %}
  {% for member in members %}
  <div class="container mt-5">
    <ul class="list-group">
      <li class="list-group-item list-group-item-primary fs-5">
        {{member.pseudo}}
        <p class="mb-1 text-muted">Role: {{member.role }} - Crée le {{member.created_date | date("d/m/Y")}}
          {% if member.created_date is not same as(member.last_update) %}
          - dernière mise à jour le:
          {{member.last_update | date("d/m/Y H:i")}}
          {% endif %}
        </p>

        {% if session.role is same as('superAdmin') %}
        {%if member.role is not same as('superAdmin') %}
        <form action="/member-{{member.id}}/edit" method="post">
          <div class="row mt-2">
            <div class="col-md-7">
              <input type="hidden" value="{{tokencsrf}}" name="tokencsrf" />
              <select class="form-select" name="role">
                <option value="" selected>Modifier le role</option>
                <option value="user">Utilisateur</option>
                <option value="admin">Administrateur</option>
              </select>
            </div>
            <div class="col">
              <button type="submit" class="btn btn-dark btn-block mb-4">mettre à jour les
                droits</button>
            </div>
          </div>
        </form>
        <form method="POST" action="/member-{{member.id}}/delete" class="mt-2">
          <input type="hidden" value="{{tokencsrf}}" name="tokencsrf" />
          <button class="btn btn-secondary text-white" type="submit">supprimer</button>
        </form>
        {% endif %}
        {% endif %}
      </li>
    </ul>
  </div>

  {% endfor %}

  <nav class="my-4">
    <ul class="pagination pagination-circle justify-content-center">
      {% if (page > 0) %}
      <li class="page-item me-3">
        <form method="post" action="/admin/members/{{ page-1 }}">
          <input hidden value="{{index}}" name="order" />
          <button class="btn btn-dark text-white mt-4" type="submit">Précédent</button>
        </form>
      </li>
      {%endif%}
      {% if members|length == 3 and end is same as(false) %}
      <li class="page-item">
        <form method="post" action="/admin/members/{{page+1}}">
          <input hidden value="{{index}}" name="order" />
          <button class="btn btn-dark text-white mt-4" type="submit">Suivant</button>
        </form>
      </li>
      {% endif %}
    </ul>
  </nav>

  {% else %}
  <nav class="my-4">
    <ul class="pagination pagination-circle justify-content-center">
      <li class="page-item">
        <a class="page-link" href="/admin/members">Retour</a>
      </li>
    </ul>
  </nav>
</div>
{% endif %}
{% endblock %}